* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: Consolas, monospace; 
  font-size: 4vw; 
  font-weight: 400;
  color: #efefef;
  list-style: none;
  overflow-x: hidden; 
}

#app {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 5vw 2.5vw 2.5vw 2.5vw;
  overflow: hidden;
}

/* Медиа-запрос для экранов шире 900px */
@media (min-width: 900px) {
  body {
    font-size: 1.5vw;
  }

  .container {
    width: 30vw;
    padding: 3vw 1vw 1vw;
  }
}